.ContentBox{
    align-items: center;
    text-align: center;
}
.card{
    
    display: flex;
    justify-content: center;
    
}
@media only screen and (max-width:110px){
    .ContentBox{
        display: flex;
        gap: 3px;
        
    }
    
}
